{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    <title>Sign-up</title>
{% endblock %}

{% block content %}
<div class="container bg-secondary w-25 mx-auto p-4 mt-4 rounded-5 ">
    <h1 class="text-warning text-center">Sign-up Form</h1>
    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <input type="submit" class="btn btn-success col-6">
        <input type="reset" class="btn btn-warning col-6 float-end">
    </form>
</div>
{% endblock %}